@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*{
    font-family: 'Pretendard-Regular';
}

:root {
    --main-color: #ffffff;
    --primary-color: #0d6efd;
    --sub-color1:#3D8BFD;
    --sub-color2:#0A58CA;
}

body {
    background-color: var(--main-color);
    margin : 0;
    padding: 0;
}